
<div>
	{{input value=keyword placeholder="Write keyword here..." enter="addNote"}}
		<br>
	
		{{#each model.notes as |note|}}
		<div class="panel panel-default">

			<div class="panel-heading" {{action 'collapseDrop' note}}>
				 <a {{action 'seekTo' note.timestamp}}>{{note.time}}</a><!--Change this so it looks like clickable--> - {{note.keyword}}
			</div>
			{{#if note.collapsed}}	
				<div class="panel-body">
   			 	Panel content
 				</div>
 			{{/if}}
		</div>
		<br>
		{{/each}}
	
</div>



