<div class="col-md-9">
	{{input value=keyword placeholder="Insert your keyword..." enter="addNote" class="form-control" id="focusedInput"}}
</div>
<button type="button" class="col-md-3 btn btn-success" {{action 'addNote'}}>Add keyword</button>
<div class="note col-md-12">
	{{#each model.notes as |note|}}
		<div class="panel panel-default note-panel">
			<div class="panel-heading" >
				<span class="time clickable" {{action 'seekTo' note.timestamp}}>{{note.time}}</span>
				<span> - {{note.keyword}}</span>
				<button class="remove btn btn-link btn-xs" {{action 'removeNote' note}}><span class="glyphicon glyphicon-remove"></span></button>
			</div>
			{{#if note.collapsed}}	
				<div class="panel-body">
				 		{{note.description}}
					</div>
				{{/if}}
		</div>
	{{/each}}
		

</div>
