<h2 id="title">Welcome to playNote</h2>
	{{#if session.isAuthenticated}}
		<button {{action "signOut"}}>Logout</button><br>
	{{outlet}}
  	{{else}}
    	{{#link-to 'dashboard'}}<img src="assets/images/google_btn.png" {{action 'signIn' 'google'}}>{{/link-to}}
    	{{#link-to 'dashboard'}}<img src="assets/images/facebook_btn.png" {{action 'signIn' 'facebook'}}>{{/link-to}}
    	{{#link-to 'dashboard'}}<img src="assets/images/twitter_btn.png" {{action 'signIn' 'twitter'}}>{{/link-to}}
  	{{/if}}